/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Typography */

@font-face {
    font-family: Lucifer;
    src: url("./Lucifer\ Sans\ Medium.otf") format("opentype");
}

h1 {
    font-family: 'Lucifer', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 43px;
    text-align: center;
    color: #383F51;
}
p {
    font-family: 'Didact Gothic', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #383F51;
}
p.ben-and-joe {
    font-weight: bold;
}

/* Page Structure */

.main-logo {
    display: block;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    grid-column-gap: 20px;
    justify-items: center;
    justify-content: center;
}

.flex-container {
    grid-column-start: 0;
    grid-column-end: span 6;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}
.hero-image {
    width: 100%;
}
.contact {
    grid-column-start: 0;
    grid-column-end: span 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px; 
    margin-top: 16px;  
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.email img, .email p {
    display: inline-block;
    margin: 0px 8px 0 0;
}


.instagram {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: 8px;
}
.instagram img, .instagram p {
    display: inline-block;
    margin: 0px 8px 0 0;
}


.signature img {
    display: block;
    margin: auto;
}

/* Gallery */

.gallery {
    grid-column-start: 0;
    grid-column-end: span 6;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0px 0px;
}
.gallery img {
    width: 180px;
    margin-bottom: 20px;
}

/* Page Border */

body {
    background: #FFFFFF;
    border: 15px solid #ED6E6C;
    box-sizing: border-box;
    padding-bottom: 50px;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    body {
        background: #FFFFFF;
        border: 10px solid #ED6E6C;
        box-sizing: border-box;
        padding-bottom: 50px;
    }
    h1 {
        font-family: 'Lucifer', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #383F51;
    }
    .main-logo {
        display: block;
        margin: 0, auto, 16px;
        max-width: 80px;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 80px);
        grid-column-gap: 20px;
        justify-items: center;
        justify-content: center;
    }
    .flex-container {
        grid-column-start: 0;
        grid-column-end: span 3;    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 0px 0px;
    }
    .flex-container {
        grid-column-start: 0;
        grid-column-end: span 3;    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 28px 0px 0px;
    }
    .contact {
        grid-column-start: 0;
        grid-column-end: span 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px; 
        margin-top: 16px; 
    }
    .instagram {
        margin-top: 8px;
    }
    .gallery {
        grid-column-start: 0;
        grid-column-end: span 3;    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0px 0px;
    }
    .gallery img {
        width: 280px;
        margin-bottom: 20px;
    }
    
}